<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Options</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div class="container" style="text-align: center;">
        <h2>Where Are You Going?</h2>
        <a href="/manufacturers" class="btn btn-primary">Manufacturers</a>
        <a href="/customers" class="btn btn-primary">Customers</a>
        <a href="/owned-cars/all" class="btn btn-primary">All Owned Cars</a>
    </div>
</body>
</html>